Options -Indexes

RewriteEngine On

RewriteRule ^(?:app|config|database)(?:/|$) - [F,L]

RewriteRule ^$ public/index.php [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^(.*)$ public/$1 [L]
